@import url("https://fonts.googleapis.com/css?family=Eczar|Open+Sans");
body {
  background: #fdfffc;
  color: #2b2c28;
  font-family: "Open Sans", sans-serif; }

.grid {
  display: grid;
  grid-template: 50px auto 60px / auto;
  height: 100vh; }

header {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }
  header .logo {
    cursor: pointer;
    padding: 7px; }
    header .logo:hover {
      background: #fdfffc;
      color: #c14947;
      transform: rotate(-5deg); }
  header .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header .main-nav li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    padding: 7px; }
    header .main-nav li:hover {
      background: #7ebce6;
      color: #fdfffc;
      transform: rotate(-5deg); }

video {
  grid-area: 1 / 1 / -1 / -1;
  opacity: 0.2;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover; }

main {
  grid-area: 2 / 1 / 3 / -1;
  align-self: center;
  padding: 10% 20px 0; }
  main h1 {
    font-family: "Eczar", serif; }
  main .bio {
    width: 60%;
    font-family: "Open Sans", serif; }

footer {
  grid-area: 3 / 1 / 4 / -1;
  text-align: center;
  padding: 0 20px; }
  footer .social-nav {
    height: 100%; }
    footer .social-nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      footer .social-nav ul li {
        display: inline-block;
        padding: 7px;
        cursor: pointer; }
        footer .social-nav ul li a {
          display: block;
          height: 25px;
          width: 25px; }
        footer .social-nav ul li.icon-linkedin svg path {
          fill: #0077b5; }
        footer .social-nav ul li.icon-linkedin:hover {
          background: #0077b5; }
          footer .social-nav ul li.icon-linkedin:hover path {
            fill: #fdfffc; }
        footer .social-nav ul li.icon-facebook svg path {
          fill: #3b5998; }
        footer .social-nav ul li.icon-facebook:hover {
          background: #3b5998; }
          footer .social-nav ul li.icon-facebook:hover path {
            fill: #fdfffc; }
        footer .social-nav ul li.icon-instagram svg path {
          fill: #e4405f; }
        footer .social-nav ul li.icon-instagram:hover {
          background: #e4405f; }
          footer .social-nav ul li.icon-instagram:hover path {
            fill: #fdfffc; }
        footer .social-nav ul li:hover {
          background: #c14947;
          color: #fdfffc;
          transform: rotate(-5deg); }
